
.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    list-style: none;
    justify-content: center;
    &__item{
        margin: 0.5rem;
        width: 11rem;
        height: 15rem;
        background-color: #1D1E2C;
        border-radius: 10px;
        box-shadow: 0 0 10px #1c1c1c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
        .card{
            position: relative;
            justify-content: center;
            align-items: center;
            align-content: center;
            display: flex;
            

            &__picture, &__texture-picture{
                
                width: 10rem;
                height: 14rem;
                clip-path: polygon(10% 0, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
            }
            &__picture{
                opacity: 0.6;
                transition: all 0.5s ease-in-out;
                
            }
            &__texture-picture{
                position: absolute;
                background-color: #1fbcff;
            }
            &__name, &__name-background, &__species, &__species-background{
                position: absolute; 
            }
            &__name-background, &__species-background{
                opacity: 0.8;
                background: #00556a;
            }
            &__name, &__species{
                padding: 0.2rem;
                opacity: 0.9;
                color: #c3ebf9;
                &:hover{
                    color: #ffffff;
                }
            }
            &__name, &__name-background{
                top:12.5rem;
            }
            &__species, &__species-background{
                top: 11.2rem;
            }
            &__name{
                //salga centrado
                font-size: 0.65rem;
                font-weight: 700;   
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: center;
                justify-content: center;
                align-content: center;
            }
            &__species{
                font-size: 0.8rem;
            }
            &__name-background{  
                clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
                padding: 0.8rem 5.1rem;
            }
            &__species-background{
                padding : 0.7rem 3rem;
                clip-path: polygon(10% 0, 90% 0%, 100% 100%, 0 100%);
            }
            
           //pasar por encima de la card
            &:hover{
                .card__picture{
                    opacity: 1;
                }
                .card__name{
                    color: #ffffff;
                }
                .card__species{
                    color: #ffffff;
                }
            }
        }
    }

}