
.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    list-style: none;
    justify-content: center;
    &__item{
        margin: 0.5rem;
        width: 11rem;
        height: 15rem;
        background-color: #005367;
        border-radius: 10px;
        box-shadow: 0 0 10px #1c1c1c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
        &:hover{
            transform: scale(1.1);
            
            
            .card{
                &__picture, &__texture-picture{
                    width: 100%;
                    height: 85%;
                    transition: height 0.5s ease-in-out;
                }
                &__name-background, &__species-background{
                    opacity: 0;
                    
                }
                &__picture{
                    opacity: 1;
                }
                &__name{
                    font-size: 0.9rem;
                    top:-1.5rem;
                    transition: opacity 0.5s ease-in;
                    color: #ffffff;
                    overflow: visible;
                    text-overflow: visible;
                    white-space: normal;
                }
                &__species{
                    //aumentar el tamaño de la letra
                    font-size: 1rem;
                    color: #ffffff;
                }

            }
        }
        .card{
            position: relative;
            justify-content: center;
            align-items: center;
            align-content: center;
            display: flex;
            

            &__picture, &__texture-picture{
                width: 10rem;
                height: 14rem;
                clip-path: polygon(10% 0, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                transition: height 0.5s ease-in-out;
                
            }
            &__picture{
                opacity: 0.6;
                transition: all 0.5s ease-in-out;
            
                
            }
            &__texture-picture{
                position: absolute;
                background-image: radial-gradient( #b71cff, #1c1c1c);

            }
            &__name, &__name-background, &__species, &__species-background{
                position: absolute; 
            }
            &__name-background, &__species-background{
                opacity: 0.8;
                background: #00556a;
                
            }
            &__name, &__species{
                padding: 0.2rem;
                opacity: 0.9;
                color: #c3ebf9;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                justify-content: center;
                align-content: center;
                &:hover{
                    color: #ffffff;
                }
            }
            &__name, &__name-background{
                top:12.5rem;
            }
            &__species, &__species-background{
                top: 11.2rem;
            }
            &__name{
                //font-size: 0.65rem;
                font-size: 0.8rem;
                font-weight: 700;   
                width: 7rem;
        
            }
            &__species{
                font-size: 0.8rem;
                
            }
            &__name-background{  
                clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
                padding: 0.8rem 5.1rem;
            }
            &__species-background{
                padding : 0.7rem 5rem;
                
                clip-path: polygon(10% 0, 90% 0%, 100% 100%, 0 100%);
            }
        }
    }

}